%tr
  %td= link_to group.name, group
  %td= group.servers.count
  %td= link_to group.zones.count, group_zones_path(group)
  %td= link_to 'Edit', edit_group_path(group)
  %td= link_to 'Destroy', group, :confirm => 'Are you sure?', :method => :delete
  %td= link_to 'Bulk add zones', bulk_zones_new_group_path(group)
