%h2 DNS Groups

= form_for @search_form, :url => groups_path, :html => {:method => :get} do |f|
  = f.search_field :q
  = f.submit 'Search'

.pagination
  %b Items per page:
  = params[:per_page] == '5' ? '5' : link_to('5', groups_path(:per_page => 5))
  = params[:per_page] == '25' ? '25' : link_to('25', groups_path(:per_page => 25))
  = params[:per_page] == '50' ? '50' : link_to('50', groups_path(:per_page => 50))
  = params[:per_page].nil? ? 'all' : link_to('all', groups_path)

%table
  %thead
    %tr
      %th Name
      %th Servers
      %th Zones
      %th{:colspan => 2} Actions

  %tbody#groups
    = render @groups

= will_paginate @groups
%br

= link_to 'New Group', new_group_path
