%h1 Server Groups

= form_for @search_form, :url => groups_path, :html => {:method => :get} do |f|
  = f.search_field :q
  = f.submit 'Search'

%table
  %tr
    %th Name
    %th Servers
    %th Zones

  -#- @groups.each do |group|
  = render @groups

%br

= link_to 'New Group', new_group_path
