%h1 Server Groups

%table
  %tr
    %th Name
    %th Servers
    %th Zones

  - @groups.each do |group|
    %tr
      %td= link_to group.name, group
      %td= group.servers.count
      %td= link_to group.zones.count, group_zones_path(group)
      %td= link_to 'Edit', edit_group_path(group)
      %td= link_to 'Destroy', group, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Group', new_group_path
