%h2 DNS Groups

= form_for @search_form, :url => groups_path, :html => {:method => :get} do |f|
  = f.search_field :q
  = f.submit 'Search'

= render :partial => 'shared/per_page', :locals => {:code => link_to_items_per_page}

%table
  %thead
    %tr
      %th Name
      %th Servers
      %th Zones
      %th{:colspan => 2} Actions

  %tbody#groups
    = render @groups

= will_paginate @groups
%br

= link_to 'New Group', new_group_path
