= form_for([@group, @group.zones.build]) do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.hidden_field :group_id, :value => f.object.group_id
  .actions
    = f.submit 'Save', :disable_with => 'Processing...'
