-unless flash[:errors].nil?
  #error_explanation
    %h2= "#{pluralize(flash[:errors].count, "error")} prohibited this record from being saved:"
    %ul
      - flash[:errors].full_messages.each do |msg|
        %li= msg

%h2= "Zone Name: #{@zone.name}"

= form_for @search_form, :url => all_records_zone_path(@zone), :html => {:method => :get} do |f|
  = f.search_field :q
  = f.select :type, options_for_select(['SOA', 'NS', 'A', 'CNAME', 'MX', 'PTR', 'TXT', 'ANY'], @search_form.type || 'ANY')
  = f.submit 'Search'
%br/

.pagination
  %b Items per page:
  = params[:per_page] == '5' ? '5' : link_to('5', all_records_zone_path(@zone, :per_page => 5))
  = params[:per_page] == '25' ? '25' : link_to('25', all_records_zone_path(@zone, :per_page => 25))
  = params[:per_page] == '50' ? '50' : link_to('50', all_records_zone_path(@zone, :per_page => 50))
  = params[:per_page].nil? ? 'all' : link_to('all', all_records_zone_path)

- if @records
  #records
    = form_tag({:action => :bulk_delete_records}, {:method => :delete}) do
      %table
        %thead
          %tr
            %th
            %th name
            %th ttl
            %th class
            %th type
            %th rdata

        %tbody#records
          -@records.each do |record|
            = render :partial => 'records/record', :locals => {:record => record}
      = submit_tag "Bulk delete", :confirm => 'Are you sure?'
  = will_paginate @records
%br/
#new_records
  = form_tag({:action => :add_records}) do
    = render 'records/form'
    = submit_tag "add record"
= link_to 'Back', zones_path
