%h2 DNS zones

= form_for @search_form, :url => zones_path, :html => {:method => :get} do |f|
  = f.search_field :q
  = f.submit 'Search'
%br/

.pagination
  %b Items per page:
  = params[:per_page] == '5' ? '5' : link_to('5', zones_path(:per_page => 5))
  = params[:per_page] == '25' ? '25' : link_to('25', zones_path(:per_page => 25))
  = params[:per_page] == '50' ? '50' : link_to('50', zones_path(:per_page => 50))
  = params[:per_page].nil? ? 'all' : link_to('all', zones_path)

%table
  %thead
    %tr
      %th Zone
      %th Group
      %th{:colspan => 3} Actions

  %tbody#zones
    = render @zones

= will_paginate @zones
%br/

= link_to 'New Zone', new_zone_path
