!!!
%html
  %head
    %title BeagleNsupdate
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #wrapper
      = render "shared/header"
      #navigation
        %ul.navigation
          %li= link_to "DNS Groups", groups_path
          %li= link_to "Zones", zones_path
      #contents
        %p#notice= notice
        %p#alert= alert
        #main
          = yield
      = render "shared/footer"
